[Unit]
Description=LTS Martie25 Dashboard Autostart Script
After=network.target

[Service]
ExecStart=/home/bogdan/LTS_Martie25_Dashboard/venv/bin/python /home/bogdan/LTS_Martie25_Dashboard/hx711_full.py
WorkingDirectory=/home/bogdan/LTS_Martie25_Dashboard
StandardOutput=inherit
StandardError=inherit
User=bogdan
Restart=on-failure

[Install]
WantedBy=multi-user.target
